<div class="list-group">
  <a href="#" class="list-group-item  disabled  waves-light" mdbWavesEffect>
    <b> Daftar Rekening</b>
  </a>
  <a href="#" class="list-group-item list-group-item-action waves-light" mdbWavesEffect>Informasi Saldo</a>
  <a href="#" class="list-group-item list-group-item-action waves-light" mdbWavesEffect>Mutasi Rekening</a>
</div>
<div class="list-group">
  <a href="#" class="list-group-item  disabled waves-light" mdbWavesEffect><b>Transaksi</b></a>
  <a href="#" class="list-group-item list-group-item-action waves-light" mdbWavesEffect>Transfer</a>
  <a href="#" class="list-group-item list-group-item-action waves-light" mdbWavesEffect>Informasi Saldo</a>
</div>
<div class="list-group">
  <a href="#" class="list-group-item  disabled waves-light" mdbWavesEffect><b>Personalisasi</b></a>
  <a href="#" class="list-group-item list-group-item-action waves-light" mdbWavesEffect>Profil</a>
  <a href="#" class="list-group-item list-group-item-action waves-light" mdbWavesEffect>Informasi Saldo</a>
</div>
