<div class="list-group">
  <a href="#" class="list-group-item  disabled  waves-light" mdbWavesEffect>
    <h4><b>Rekening</b></h4>
  </a>
  <a routerLink="/rekening/list" class="list-group-item list-group-item-action waves-light" mdbWavesEffect>Daftar Rekening</a>
  <a routerLink="/rekening/mutasi" class="list-group-item list-group-item-action waves-light" mdbWavesEffect>Mutasi Rekening</a>
  <a routerLink="/rekening/saldo" class="list-group-item list-group-item-action waves-light" mdbWavesEffect>Informasi Saldo</a>
</div>
<div class="list-group">
  <a href="#" class="list-group-item  disabled waves-light" mdbWavesEffect><h4><b>Transaksi</b></h4></a>
  <a routerLink="/transfer/input" class="list-group-item list-group-item-action waves-light" mdbWavesEffect>Transfer</a>
</div>
<div class="list-group">
  <a href="#" class="list-group-item  disabled waves-light" mdbWavesEffect><h4><b> Personalisasi</b></h4></a>
  <a routerLink="/profile" class="list-group-item list-group-item-action waves-light" mdbWavesEffect>Profil</a>
</div>
